*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root{
  --index: calc(1vw + 1vh);
  --color-header: #FFFFFF;
  --color-text: #cdc6c3;
  --gallery-gap: calc(var(--index) * 10);
}
@font-face {
  font-family: raleway-a;
  src: url(../fonts/raleway-regular.woff2);
}
body{
  height: 100vh;
  background-color: #2B2B2B;
  background-size: cover;
  font-family: raleway-a;
  overflow-x: hidden;
}
header{
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
  padding-top: 10px;
  z-index: 10;
}
header .logo{
  font-size: calc(var(--index) * 1);
  color: #FFFFFF;
  transition: .5s;
}  
header .logo:hover{
  transform: scale(1.4);
}
.logo{
  margin-bottom: 395px;
}
.header__menu {
  position: relative;
  top: 0;
  display: flex;
}


.menu-item{
  position: relative;
  float: left;
  color: #FFFFFF;
  padding: 15px;
  font-size: calc(var(--index) * 1);

}
.sign__btn{
  border: 1px solid #A259FF;
  background-color: #A259FF;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px; 
  top: 10px;
  height: 40px;
  width: 100px;
  outline: none;
  color: #FFFFFF;
 font-size: calc(var(--index) * 1);
  position: relative;
  cursor: pointer;
}
.submenu{
  max-width: 200px;
  position: relative;
  z-index: 5;
  transform-origin: 0 0;
  transform: rotateX(-90deg);
  transition: .3s linear;
  visibility: hidden;
  opacity: 0;
}
.submenu li{
  position: relative;
}

.submenu .submenu{
  position: relative;
  top: 0;
  left: 100%;
  transition: .3s linear;
}

.header__menu li:hover > .submenu{
  visibility: visible;
  opacity: 1;
  transform: rotateX(0deg);
}

.menu-item2{
  display: block;
  font-size: calc(var(--index) * 1);
  border-bottom: 1px solid #FFFFFF;
  background-color: #2B2B2B;
  color: #FFFFFF;
  padding: 15px 20px;
}
.item2-1:hover{
color: #2B2B2B;
background-color: #FFFFFF;
border-bottom: 1px solid #2B2B2B;
}
.all__pages{
z-index: 5;
}
.title__container{
  display: block;
  position: relative;
  color: #FFFFFF;
  top: 230px;
  text-align: left;
  padding: 10px;
    
}
.title{
  font-size: calc(var(--index) * 4);
  color: #FFFFFF;
  padding-left: 25px;

}
.subtitle{
  font-size: calc(var(--index) * 1);
  color: #FFFFFF;
  position: relative;
  padding: 25px;
  column-count: 2;
}
.start__btn{
  border: 1px solid #A259FF;
  background-color: #A259FF;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px; 
  top: 80px;
  height: 60px;
  width: 224px;
  outline: none;
  color: #FFFFFF;
 font-size: calc(var(--index) * 1);
  position: relative;
  cursor: pointer;
  left: 25px;
}
.img-desc{
  position: relative;
  bottom: 220px;
  margin-left: 560px;
}
.name__img-desc{
  font-size: calc(var(--index) * 1.5);
  color: #FFFFFF;
  position: relative;
  top: 10px;
}
.ava__group1{
  position: relative;
  display: flex;
  justify-content:baseline;
  top: 20px;
  cursor: pointer;

}
.name__avatar1{
  font-size: calc(var(--index) * 1);
  color: #FFFFFF;
  position: relative;
  left: 10px;
}
.img__page1{
  transition: .5s;
}
.img__page1:hover{
  transform: scale(1.1);
}
.inform__one{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  color: #FFFFFF;
  top: 350px;
  right: 170px;
}
.item-number{
font-size: calc(var(--index) * 2);
}
.item-desc{
  font-size: calc(var(--index) * 1);
}
.page2__collection{
  margin-top: 150px;
}
.title__collection{
  font-size: calc(var(--index) * 2);
  color: #FFFFFF;
  padding-left: 25px;
}
.subtitle__collection{
  font-size: calc(var(--index) * 1);
  color: #FFFFFF;
  position: relative;
  padding-left: 25px;
  top: 25px;
}
.gallery__collection{
  margin-top: 75px;
  margin-left:  25px;
  margin-right: 25px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.group1__btn{
  border: 1px solid #A259FF;
  background-color: #A259FF;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px; 
  height: 100px;
  width: 100px;
  outline: none;
  color: #FFFFFF;
 font-size: calc(var(--index) * 1);
  position: relative;
  cursor: pointer;
}
.img__group{
  position: relative;
  top: 15px;
  display: flex;
  justify-content: space-between;
}
.card__collection{
  transition: .3s;
}
.card__collection:hover{
transform: scale(1.1);
}
.name__group{
  position: relative;
  top: 25px ;
  font-size: calc(var(--index) * 1);
  color: #FFFFFF;
}
.ava__group{
  position: relative;
  top: 35px ;
  display: flex;
  justify-content: baseline;
  font-size: calc(var(--index) * 1);
  color: #FFFFFF;
}
.name__ava-gr{
  position: relative;
  left: 10px;
}
.page3__creators{
  margin-top: 300px;
}
.title__creators{
font-size: calc(var(--index) * 2);
  color: #FFFFFF;
  padding-left: 25px;
}


.subtitle__creators{
font-size: calc(var(--index) * 1);
  color: #FFFFFF;
  position: relative;
  padding-left: 25px;
  top: 25px;
}
.btn__creators{
  border: 2px solid #A259FF;
  background-color: #2B2B2B;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px; 
  height: 60px;
  width: 247px;
  outline: none;
  color: #A259FF;
 font-size: calc(var(--index) * 1);
  position: relative;
  cursor: pointer;
  margin-left: 845px;
  right: 35px;
  bottom: 30px;
}
.btn__creators:hover{
  background-color: #A259FF;
  color: #FFFFFF;
}
.gallery__creators{
  position: relative;
  top: 20px;
  left: 25px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(4, 250px);
  cursor: pointer;
}


.page4__categories{
  margin-top: 80px;
}
.title__categories{
  font-size: calc(var(--index) * 2);
  color: #FFFFFF;
  padding-left: 25px;
}
.part__categories{
  position: relative;
  top: 35px;
  display: flex ;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
}
.img__categories1{
  position: relative;
  top: 25px;
  transition: .3s;
}
.img__categories1:hover{
  transform: scale(0.9);
}
.img__categories{
  transition: .3s;
}
.img__categories:hover{
  transform: scale(0.9);
}
.page5__more-nft{
  margin-top: 300px;
}
.title__more-nft{
   font-size: calc(var(--index) * 2);
  color: #FFFFFF;
  padding-left: 25px;
}
.subtitle__more-nft{
  font-size: calc(var(--index) * 1);
  color: #FFFFFF;
  position: relative;
  padding-left: 25px;
  top: 25px;
}
.btn__more-nft{
  border: 2px solid #A259FF;
  background-color: #2B2B2B;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px; 
  height: 60px;
  width: 187px;
  outline: none;
  color: #A259FF;
 font-size: calc(var(--index) * 1);
  position: relative;
  cursor: pointer;
  margin-left: 845px;
  right: 35px;
  bottom: 30px;
}
.btn__more-nft:hover{
  background-color: #A259FF;
  color: #FFFFFF;
}
.about__more-nft{
  position: relative;
  top: 35px;
  width: 280px;
  height: 329px;
  padding-left: 75px;
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
  transition: .3s;
}
.about__more-nft :hover{
transform: scale(0.9);
}
.img__page5{
  position: relative;
  left: 20px;
}
.img__page5-1{
  position: relative;
  left: 40px;
}
.page6__magic{
  margin-top: 125px;
  background-image: linear-gradient(#FFFFFF, #A259FF );
  width: 1085px;
height: 380px;
}
.img__magic{
position: relative;
width: 480px;
height: 380px;
left: 605px;
transition: .3s;
}
.img__magic:hover{
  transform: scale(1.1);
}
.title__magic{
   font-size: calc(var(--index) * 2.5);
  color: #FFFFFF;
  position: relative;
  bottom: 230px;
  padding-left: 25px;
}
.btn__magic{
    border: 2px solid #A259FF;
  background-color: #FFFFFF;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px; 
  height: 60px;
  width: 198px;
  outline: none;
  color: #2B2B2B;
 font-size: calc(var(--index) * 1);
  position: relative;
  cursor: pointer;
  bottom: 180px;
  left: 25px;
}
.page7__it-works{
  margin-top: 125px;
}
.title__page7{
  font-size: calc(var(--index) * 2);
  position: relative;
  color: #FFFFFF;
  padding-left: 25px;
}
.subtitle__page7{
  font-size: calc(var(--index) * 1);
  color: #FFFFFF;
  position: relative;
  padding-left: 25px;
  top: 25px;
}
.chapters__page7{
  position: relative;
  display: flex;
  justify-content: space-between;
  left: 45px;
  right: 45px;
  top: 105px;
  width: 230px;
  height: 339px;
}
.img__page7-1{
  position: relative;
  left: 55px;
}
.img__page7-2{
  position: relative;
  left: 110px;
}
.page8__last{
  margin-top: 175px;
  background-color: #3B3B3B;
  height: 334px;
}
.title__page8{
  font-size: calc(var(--index) * 1);
  color: #FFFFFF;
  top: 45px;
  padding-left: 105px;
  padding-right: 105px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.t-1{
 transition: .5s; 
}
.t-1:hover{
  transform: scale(1.3);
}
.t-2{
 transition: .5s; 
}
.t-2:hover{
  transform: scale(1.3);
}
.t-3{
 transition: .5s; 
}
.t-3:hover{
  transform: scale(1.3);
}
.inform__page8{
  font-size: calc(var(--index) * 0.9);
  color: #CCCCCC;
  padding-left: 105px;
  padding-right: 105px;
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 90px;
}
.subtitle__inf-1{
  position: relative;
  top: 25px;
}
.networks{
   position: relative;
  top: 45px;
  cursor: pointer;
}
.social-1{
  transition: .5s; 
}
.social-1:hover{
  transform: scale(1.3);
}
.social-2{
  transition: .5s; 
}
.social-2:hover{
  transform: scale(1.3);
}
.social-3{
  transition: .5s; 
}
.social-3:hover{
  transform: scale(1.3);
}
.social-4{
  transition: .5s; 
}
.social-4:hover{
  transform: scale(1.3);
}
.inf-2{
  position: relative;
  left: 85px;
}
.subtitle__inf-2-2{
  position: relative;
  top: 25px;
}
.subtitle__inf-2-3{
  position: relative;
  top: 45px;
}
.subtitle__inf-3{
    position: relative;
    left: 215px;
}
.buttons__end{
   position: relative;
  top: 45px;
  right: -85px;
  cursor: pointer;
}
.email__page8{
  border: 2px solid #A259FF;
  background-color: #FFFFFF;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px; 
  height: 60px;
  width: 237px;
  outline: none;
  color: #2B2B2B;
  text-align: center;
 font-size: calc(var(--index) * 0.9);
  position: relative;
  cursor: text;
}
.button__page8{
  border: 2px solid #A259FF;
  background-color: #A259FF;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px; 
  height: 60px;
  width: 158px;
  outline: none;
  color: #FFFFFF;
 font-size: calc(var(--index) * 0.9);
  position: relative;
  cursor: pointer;
}
.line-page{
  position: relative;
  color: #CCCCCC;
  width: 1000px;
  left: 35px;
  top: 155px;
}
.postscriptum{
  position: relative;
  color: #CCCCCC;
   font-size: calc(var(--index) * 0.8);
  top: 175px;
  left: 35px;
}





  





